VITE_FIREBASE_API_KEY =  "XXXXXXXXXXXXXX",
VITE_FIREBASE_AUTH_DOMAIN = "XXXXXXXXXXXXXX",
VITE_FIREBASE_PROJECT_ID = "XXXXXXXXXXXXXX",
VITE_FIREBASE_STORAGE_BUCKET = "XXXXXXXXXXXXXX",
VITE_FIREBASE_MESSAGING_SENDER_ID = "XXXXXXXXXXXXXX",
VITE_FIREBASE_APP_ID = "XXXXXXXXXXXXXX",
VITE_FIREBASE_MEASUREMENT_ID = "XXXXXXXXXXXXXX"